*.pem
*.pem.pub
tmp/
output/
build/
keys/
Pulumi.*.yaml
.vagrant
.vscode
coverage.txt

.DS_Store

# Packer
packer/hetzner/temporal/manifest.json
packer/hetzner/temporal/temporal-verify
packer/hetzner/wireguard/manifest.json
packer/hetzner/wireguard/wireguard-verify
packer/hetzner/wireguard/packer
*.pkrvars.hcl
!*.pkrvars.hcl.example

# Builds
artifacts.txt
pulumi-wireguard-darwin-arm64
pulumi-wireguard-linux-arm64
# Secrets
franky.env
.env
